.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &-title {
            font-size: 2em;
            margin: 1em 0;
        }
    }
}

.error-message {
    color: red;
}

.field-legend {
    margin: 0.5em 0.5em 0 1em;
    align-self: flex-start;
}

.radio-legend {
    margin: 0 0.5em 0 0;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-register {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    min-width: 250px;
}
