.volcard{
    margin: 20px 10px 10px 10px ;
    height: 95% ;
    padding-bottom: 25px ;
   

    &-button{
        background-color: #018361; 
        bottom: 4%;
        position: absolute 
    }
}
