.activated {
    background-color: #018361;
}

.bottombar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    display: none;
    flex-direction: row;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: #018361;
        }
    }

    .logo {
        width: 40%;
        height: 38px;
        margin: 0.65em;
        fill: #ffffff;
    }
}

@media screen and (max-width: 900px) {
    .bottombar {
        display: flex;
    }
}
