.volunteer-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;

    &-title {
        font-size: 1.5em;
        margin: 1em 0 0.5em 1em;
    }

    &-description {
        font-size: 1.1em;
        margin: 0 1em;
    }
}
