$small: 900px;

.home-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;

    &-title {
        font-size: 1.5em;
        margin: 1em;
        line-height: 1.2em;
    }

    &-img-txt-capsule {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1em;

        @media screen and (max-width: $small) {
            flex-wrap: wrap;
        }

        &-img {
            margin: 0 1em;

            img {
                width: 250px;
            }
        }

        &-description {
            margin: 0 1em;
            text-align: justify;

            @media screen and (max-width: $small) {
                margin: 1em;
            }
        }
    }

    .quick-links-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin: 4em 0 0 0;

        @media screen and (max-width: $small) {
            // display: none;
            margin: 2em 0;
        }

        .quick-link {
            height: 200px;
            width: 150px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            &-img {
                width: 150px;
                height: 150px;
            }

            &-text {
                text-align: center;
                font-size: 1.2em;
                margin: 1em;
            }
        }
    }
}
