$small: 900px;

.registered-successfylly {
    text-align: center;
    font-size: larger;
    height: 10em;
    position: relative;
    top: 30%;
}
.comp{
    font-weight: bold;
}
.redirect{
    color: white;
    background-color: #018361;
    font-weight: 600;
    padding: .375rem .75rem;
}
