$small: 900px;

.ask-for-help-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;

    &-title {
        font-size: 1.5em;
        margin: 1em;
        float: left;
    }

    &-form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width: $small) {
            align-items: center;
        }
    }
}
