$small: "900px";

.reset-password-page {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;

    &-title {
        font-size: 1.5em;
        margin: 1em 0 0.5em 1em;
        text-align: center;
        margin: 1em 0;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 300px;
        margin: 0 !important;
    }
}
