.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.fader{
    color: #018361;
    font-size: 1.5vmax;
    font-family: cursive;   
}


@media screen and (max-width: 900px) {
    .fader{
        font-size: 2vmax;   
    }
}