.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.fader {
    color: #ffffff;
    font-size: 0.8em;
    // font-family: cursive;
}

@media screen and (max-width: 900px) {
    .fader {
        font-size: 2vmax;
    }
}
